setuptools==75.6.0
wheel==0.45.1
twine==6.0.1
build==1.2.2.post1

mypy==1.14.0

html-testRunner~=1.2.1

codeallybasic==1.8.5
click == 8.1.8
pillow==11.0.0
pypdf==5.1.0
# So Circle CI works
buildlackey==1.6.3
